body {
  background-color: #eee;
  font-size: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.container {
  max-width: 400px;
}
.icon {
  margin-top: -50px;
}

.capitalize {
  text-transform: capitalize;
}

#loading,
.result {
  display: none;
}
